body {
  text-align: center;
}

/* #menu {
  position: relative;
} */

.info-box {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  margin: 0 auto;
  width: 75vh;
  padding: 50px;
}

.info-box-skills {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  margin: 0 auto;
  width: 80vh;
  padding: 50px;
}

.projects-box {
  background: white;
  border: 2px solid black;
  margin: 0 auto;
  width: 90vh;
  padding: 50px;
}

.backimage-one {
  background: url('https://images.unsplash.com/photo-1508967289497-b9c85158e02d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=956a875807ae3d1b502cbd6586c7065a&auto=format&fit=crop&w=1990&q=80') no-repeat center center;
  background-size: cover;
}

.backimage-two {
  background: url('https://images.unsplash.com/photo-1510020553968-30f966e1ec9e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74431fa8893bb465f3c8a637624c112a&auto=format&fit=crop&w=2767&q=80') no-repeat center center;
  background-size: cover;
}

.project-four {
  background: url('../images/project-four-image.png') no-repeat center center;
  background-size: cover;
  /* border: 2px solid black; */
  height: 15vh;
}

.project-three {
  background: url('../images/project-three-image.png') no-repeat center center;
  background-size: cover;
  height: 100px;
}

.project-two {
  background: url('../images/project-two-image.png') no-repeat center center;
  background-size: cover;
  height: 100px;
}

.project-one {
  background: url('../images/project-one-image.png') no-repeat center center;
  background-size: cover;
  height: 100px;
}

.card-img-top{
  border: 1px solid black;
}

.all-skills {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.skills-one i {
  font-size: 7em;
}

.skills-two i {
  font-size: 5em;
}

.skills-three i {
  font-size: 4em;
}

i {
  font-size: 4em;
}

a .front-icon {
  font-size: 4em;
}
